<!DOCTYPE html>
<html lang="zh" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>秒钱http/https接口请求工具|Author by Alex Yang</title>
    <link rel="stylesheet" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css" />
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/formValidation.css"/>
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" type="text/css" href="css/sweetalert.css">
	<script type="text/javascript" src="js/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/dist/js/formValidation.js"></script>
    <script type="text/javascript" src="js/dist/js/framework/bootstrap.js"></script>
    <script type="text/javascript" src="js/dist/js/language/zh_CN.js"></script>
    <script type="text/javascript" src="js/sweetalert.min.js"></script>
    <script type="text/javascript" src="js/sweetalert-dev.js"></script>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script  type="text/javascript" src="namesController.js"></script>
	<script  type="text/javascript" src="postmanJSController.js"></script>
	<script  type="text/javascript" src="controllerConfig.js"></script>
</head>

<body>
	<div class="jq22-sidebar" ng-app="myApp" ng-controller="interfaceName" >
                <span class="input-group-addon">过滤查询</span>
                <input type="text" ng-model="interfaceName" class="form-control" name="postalCode" placeholder="请输入接口名" />
		<ul >
			<li ng-repeat="x in list | filter:interfaceName"><span class="fa fa-arrow-right">
   				 <a style="cursor:pointer" onclick="changeArea(this)" value={{x.interfaceName}}>{{(x.interfaceName)}}</a>
  			</span></li>
		</ul>
	</div>
	<div class="jq22-container">
		<header class="jq22-header bgcolor-1">
			<h1>秒钱http/https接口请求工具 <span>Author by Alex Yang</span></h1>
			
		</header>
		<div class="container">
		    <div class="row">
		        <!-- form: -->
		        <section>
		            <div class="col-lg-10 col-lg-offset-0" >
		                <div class="page-header">
		                    <h2>获取Token</h2>
		                </div>

		                <form id="getTokenForm" class="form-horizontal" >
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">用户名 </label>
		                        <div class="col-lg-3">
		                            <input type="text" class="form-control" placeholder="请输入用户名" name="username" required data-fv-message="The username is not valid" data-fv-notempty-message="用户名不能为空" />
		                        </div>
		                    </div>

		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">密码</label>
		                        <div class="col-lg-3">
		                            <input type="password" placeholder="请输入密码" class="form-control" name="password"
		                                   data-fv-trigger="blur"
		                                   data-fv-message="The username is not valid"
		                                   required data-fv-notempty-message="密码不能为空"/>
		                        </div>
		                    </div>
		                    <div class="form-group">
		                        <div class="col-lg-9 col-lg-offset-3">
		                            <button class="btn btn-primary" " id="getToken">获取token</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </section>
		        <!-- :form -->
		          <section>
		            <div class="col-lg-10 col-lg-offset-0" >
		                <div class="page-header">
		                    <h2>请求体&结果</h2>
		                </div>

		                <form id="resultForm" class="form-horizontal" >
		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">Token</label>
		                        <div class="col-lg-3">
		                            <input type="text" class="form-control" name="token4request" required data-fv-notempty-message="TOKEN不能为空" />
		                        </div>
		                    </div>

		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">接口地址</label>
		                        <div class="col-lg-3">
		                            <input type="text" class="form-control" name="URL"  required data-fv-notempty-message="URL不能为空" />
		                        </div>
		                    </div>


		                     <div class="form-group">
		                        <label class="col-lg-3 control-label">接口名</label>
		                        <div class="col-lg-3">
		                            <input type="text" class="form-control" name="interfaceName"  required data-fv-notempty-message="接口名不能为空" />
		                        </div>
		                    </div>

		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">请求方式</label>
		                        <div class="col-lg-3">
		                            <select class="form-control" name="method" data-fv-notempty data-fv-notempty-message="请求方式不能为空">
		                                <option value="">请选择任意一种</option>
		                                <option value="GET">GET</option>
		                                <option value="POST">POST</option>
		                            </select>
		                        </div>
		                    </div>

		                    <div class="form-group">
		                        <label class="col-lg-3 control-label">请求体</label>
		                        <div class="col-lg-3">
		                            <textarea placeholder="eg:name=yangyu&age=25" class="form-control" name="body" rows="10" data-fv-stringlength data-fv-stringlength-max="100" data-fv-stringlength-message="body不能超过100个字符"></textarea>
		                        </div>

		                        <div class="col-lg-6">
		                            <textarea class="form-control" name="response" rows="10"></textarea>
		                        </div>
		                    </div>


		                    <div class="form-group">
		                        <div class="col-lg-9 col-lg-offset-3">
		                            <button id="sendRequest" class="btn btn-primary">发送请求</button>
		                            <button id="saveRequest" class="btn btn-primary col-lg-offset-3">保存接口</button>
		                            <button id="deleteRequest" class="btn btn-primary col-lg-offset-3">删除接口</button>
		                        </div>
		                    </div>
		                </form>
		            </div>
		        </section>
		    </div>
		</div>
	</div>

</body>
</html>