<% include header.ejs %>


<!-- Page content -->
<div id="content" class="col-md-12">


    <!-- page header -->
    <div class="pageheader">


        <h2><i class="fa fa-shield" style="line-height: 50px;padding-left: 0;"></i> 美团点评测试平台 <span></span>
        </h2>


    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">


        <!-- row -->
        <div class="row">

            <!-- col 12 -->
            <div class="col-md-12">


                <!-- tile -->
                <section id="rootwizard" class="tabbable transparent tile">


                    <!-- tile header -->
                    <div class="tile-header transparent">
                        <h1><strong>注册</strong></h1>
                        <div class="controls">
                            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                            <a href="#" class="remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <!-- /tile header -->

                    <!-- tile widget -->
                    <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                        <ul>
                            <li><a href="#tab1" data-toggle="tab">用户名密码</a></li>
                            <li><a href="#tab2" data-toggle="tab">详细信息</a></li>
                            <li><a href="#tab3" data-toggle="tab">权限</a></li>
                        </ul>
                    </div>
                    <!-- /tile widget -->

                    <!-- tile body -->
                    <div class="tile-body">

                        <div id="bar" class="progress progress-striped active">
                            <div class="progress-bar progress-bar-cyan animate-progress-bar"></div>
                        </div>

                        <div class="tab-content">

                            <div class="tab-pane" id="tab1">
                                <form class="form-horizontal form1" role="form" parsley-validate
                                      id="userNameAndPassword">

                                    <div class="form-group">
                                        <label for="fullname" class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="fullname" id="fullname"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="4" parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password" id="password"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="6" parsley-type="alphanum"
                                                   parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="passwordconfirm" class="col-sm-2 control-label">重复密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control"  name="passwordconfirm" id="passwordconfirm"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="6" parsley-type="alphanum"
                                                   parsley-validation-minlength="1" parsley-equalto="#password">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="tab-pane" id="tab2">

                                <form class="form-horizontal form2" role="form" parsley-validate id="userInfo">


                                    <div class="form-group">
                                        <label for="fullname" class="col-sm-2 control-label">昵称</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="nickname" id="nickname"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="4" parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" name="email" id="email" parsley-trigger="change"
                                                   parsley-required="true" parsley-minlength="4" parsley-type="email"
                                                   parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phonenum" class="col-sm-2 control-label">手机号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="phonenum" id="phonenum"
                                                   parsley-trigger="change" parsley-type="phone"
                                                   parsley-validation-minlength="0" placeholder="13295422111">
                                        </div>
                                    </div>

                                </form>

                            </div>

                            <div class="tab-pane" id="tab3">

                                <form class="form-horizontal form3" role="form" parsley-validate id="userRole">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <input type="checkbox" value="1" name="admin" id="opt01" parsley-trigger="change"
                                                       parsley-required="true" name="eula">
                                                <label for="opt01">管理员</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox" value="2" name="admin" id="opt02" name="newsletter">
                                                <label for="opt02">普通用户</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>
                    <!-- /tile body -->

                    <!-- tile footer -->
                    <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
                        <ul class="pager pager-full wizard">
                            <li class="previous"><a href="javascript:;"><i class="fa fa-arrow-left fa-lg"
                                                                           ></i></a></li>
                            <li class="next"><a href="javascript:;"><i class="fa fa-arrow-right fa-lg"
                                                                       ></i></a></li>
                            <li class="next finish" style="display:none;"><a id="finish" href="javascript:;"><i
                                            class="fa fa-check fa-lg" ></i></a></li>
                        </ul>
                    </div>
                    <!-- /tile footer -->


                </section>
                <!-- /tile -->


            </div>
            <!-- /col 12 -->


        </div>
        <!-- /row -->


    </div>
    <!-- /content container -->


</div>
<!-- Page content end -->


</div>
<!-- Make page fluid-->


</div>
<!-- Wrap all page content end -->


<script type="text/javascript" src="signupController.js"></script>
<script type="text/javascript" src="homepageController.js"></script>
<% include footer.ejs %>
