<% include header.ejs %>


<!-- Page content -->
<div id="content" class="col-md-12">


    <!-- page header -->
    <div class="pageheader">


        <h2><i class="fa fa-shield" style="line-height: 50px;padding-left: 0;"></i> 美团点评测试平台 <span></span>
        </h2>


    </div>
    <!-- /page header -->


    <!-- content main container -->
    <div class="main">


        <!-- row -->
        <div class="row">

            <!-- col 12 -->
            <div class="col-md-12">


                <!-- tile -->
                <section id="rootwizard" class="tabbable transparent tile">


                    <!-- tile header -->
                    <div class="tile-header transparent">
                        <h1><strong>注册</strong></h1>
                        <div class="controls">
                            <a href="#" class="refresh"><i class="fa fa-refresh"></i></a>
                            <a href="#" class="remove"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <!-- /tile header -->

                    <!-- tile widget -->
                    <div class="tile-widget nopadding color transparent-black rounded-top-corners">
                        <ul>
                            <li><a href="#tab1" data-toggle="tab">用户名密码</a></li>
                            <li><a href="#tab2" data-toggle="tab">详细信息</a></li>
                            <li><a href="#tab3" data-toggle="tab">权限</a></li>
                        </ul>
                    </div>
                    <!-- /tile widget -->

                    <!-- tile body -->
                    <div class="tile-body">

                        <div id="bar" class="progress progress-striped active">
                            <div class="progress-bar progress-bar-cyan animate-progress-bar"></div>
                        </div>

                        <div class="tab-content">

                            <div class="tab-pane" id="tab1">
                                <form class="form-horizontal form1" role="form" parsley-validate>

                                    <div class="form-group">
                                        <label for="fullname" class="col-sm-2 control-label">用户名</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="fullname"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="4" parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="password" class="col-sm-2 control-label">密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="password"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="6" parsley-type="alphanum"
                                                   parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="passwordconfirm" class="col-sm-2 control-label">重复密码</label>
                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" id="passwordconfirm"
                                                   parsley-trigger="change" parsley-required="true"
                                                   parsley-minlength="6" parsley-type="alphanum"
                                                   parsley-validation-minlength="1" parsley-equalto="#password">
                                        </div>
                                    </div>

                                </form>
                            </div>

                            <div class="tab-pane" id="tab2">

                                <form class="form-horizontal form2" role="form" parsley-validate id="contact">

                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">邮箱</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" parsley-trigger="change"
                                                   parsley-required="true" parsley-minlength="4" parsley-type="email"
                                                   parsley-validation-minlength="1">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="phonenum" class="col-sm-2 control-label">手机号</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="phonenum"
                                                   parsley-trigger="change" parsley-type="phone"
                                                   parsley-validation-minlength="0" placeholder="1234567891">
                                        </div>
                                    </div>

                                </form>

                            </div>

                            <div class="tab-pane" id="tab3">

                                <form class="form-horizontal form3" role="form" parsley-validate id="eula">

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="opt01" parsley-trigger="change"
                                                       parsley-required="true" name="eula">
                                                <label for="opt01">管理员</label>
                                            </div>
                                            <div class="checkbox">
                                                <input type="checkbox" value="1" id="opt02" name="newsletter">
                                                <label for="opt02">普通用户</label>
                                            </div>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </div>

                    </div>
                    <!-- /tile body -->

                    <!-- tile footer -->
                    <div class="tile-footer border-top color white rounded-bottom-corners nopadding">
                        <ul class="pager pager-full wizard">
                            <li class="previous"><a href="javascript:;"><i class="fa fa-arrow-left fa-lg"></i></a></li>
                            <li class="next"><a href="javascript:;"><i class="fa fa-arrow-right fa-lg"></i></a></li>
                            <li class="next finish" style="display:none;"><a href="javascript:;"><i
                                            class="fa fa-check fa-lg"></i></a></li>
                        </ul>
                    </div>
                    <!-- /tile footer -->


                </section>
                <!-- /tile -->


            </div>
            <!-- /col 12 -->


        </div>
        <!-- /row -->


    </div>
    <!-- /content container -->


</div>
<!-- Page content end -->


<div id="mmenu" class="right-panel">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#mmenu-users" data-toggle="tab"><i class="fa fa-users"></i></a></li>
        <li class=""><a href="#mmenu-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
        <li class=""><a href="#mmenu-friends" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
        <li class=""><a href="#mmenu-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="mmenu-users">
            <h5><strong>Online</strong> Users</h5>

            <ul class="users-list">

                <li class="online">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="online">
                    <div class="media">

                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                        </a>
                        <span class="badge badge-red unread">3</span>

                        <div class="media-body">
                            <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                            <span class="badge badge-outline status"></span>
                        </div>

                    </div>
                </li>

                <li class="online">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="online">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/george-avatar.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">George <strong>McCain</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="busy">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="busy">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar2.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Jesse <strong>Phoenix</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

            </ul>

            <h5><strong>Offline</strong> Users</h5>

            <ul class="users-list">

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar4.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Dell <strong>MacApple</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Paris, France</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="offline">
                    <div class="media">

                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar5.jpg" alt>
                        </a>

                        <div class="media-body">
                            <h6 class="media-heading">Roger <strong>Flopple</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Rome, Italia</small>
                            <span class="badge badge-outline status"></span>
                        </div>

                    </div>
                </li>

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar6.jpg" alt>

                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Nico <strong>Vulture</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar7.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Bobby <strong>Socks</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="tab-pane" id="mmenu-history">
            <h5><strong>Chat</strong> History</h5>

            <ul class="history-list">

                <li class="online">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            </small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="busy">
                    <div class="media">

                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                        </a>
                        <span class="badge badge-red unread">3</span>

                        <div class="media-body">
                            <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                            <small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur
                            </small>
                            <span class="badge badge-outline status"></span>
                        </div>

                    </div>
                </li>

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/peter-avatar.jpg" alt>

                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Peter <strong>Kay</strong></h6>
                            <small>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit
                            </small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="tab-pane" id="mmenu-friends">
            <h5><strong>Friends</strong> List</h5>
            <ul class="favourite-list">

                <li class="online">
                    <div class="media">

                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/arnold-avatar.jpg" alt>
                        </a>
                        <span class="badge badge-red unread">3</span>

                        <div class="media-body">
                            <h6 class="media-heading">Arnold <strong>Karlsberg</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
                            <span class="badge badge-outline status"></span>
                        </div>

                    </div>
                </li>

                <li class="offline">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar8.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Anna <strong>Opichia</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="busy">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/random-avatar1.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Lucius <strong>Cashmere</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Wien, Austria</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

                <li class="online">
                    <div class="media">
                        <a class="pull-left profile-photo" href="#">
                            <img class="media-object" src="assets/images/ici-avatar.jpg" alt>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Ing. Imrich <strong>Kamarel</strong></h6>
                            <small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
                            <span class="badge badge-outline status"></span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>

        <div class="tab-pane pane-settings" id="mmenu-settings">
            <h5><strong>Chat</strong> Settings</h5>

            <ul class="settings">

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Offline Users</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-offline"
                                       checked="">
                                <label class="onoffswitch-label" for="show-offline">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Fullname</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="show-fullname">
                                <label class="onoffswitch-label" for="show-fullname">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">History Enable</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-history"
                                       checked="">
                                <label class="onoffswitch-label" for="show-history">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Locations</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="show-location" checked="">
                                <label class="onoffswitch-label" for="show-location">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Notifications</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox"
                                       id="show-notifications">
                                <label class="onoffswitch-label" for="show-notifications">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Undread Count</label>
                        <div class="col-xs-4 control-label">
                            <div class="onoffswitch greensea">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-unread"
                                       checked="">
                                <label class="onoffswitch-label" for="show-unread">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div><!-- tab-pane -->

    </div><!-- tab-content -->
</div>


</div>
<!-- Make page fluid-->


</div>
<!-- Wrap all page content end -->


<script type="text/javascript" src="signupController.js"></script>
<script  type="text/javascript" src="homepageController.js"></script>
<% include footer.ejs %>
